<div class="container">
  <div class="card d-flex col-8 mx-auto p-2 rounded-0 mt-3" *ngIf="user">
    <div class="col-12 p-0 d-flex flex-wrap">
      <div class="col-2">
        <img [src]="user.avatar_url" class="img-fluid" alt="user.avatar_url" />
      </div>
      <div class="col-10 mt-0 px-2">
        <h5 class="card-title mt-0">{{ user.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ user.bio }}</h6>
        <p class="text-muted m-0">
          <small>Location: {{ user.location }}</small>
        </p>
        <p class="text-muted m-0">
          <small>Company: {{ user.company }}</small>
        </p>
        <a [href]="user.html_url" target="_blank">View profile on github</a>
      </div>
      <div class="col-12 p-0 mt-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#home"
              type="button"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              (click)="tab = 1"
            >
              Overview
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#profile"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              (click)="[(tab = 2), getRepos()]"
            >
              Repos
            </button>
          </li>
        </ul>
      </div>
      <div class="col-12" *ngIf="tab == 1">
        <p class="card-text m-0">
          <small>Repos: {{ user.public_repos }}</small>
        </p>
        <p class="card-text m-0">
          <small>Gists: {{ user.public_gists }}</small>
        </p>
        <p class="card-text m-0">
          <small>{{ user.followers }} Followers</small>
        </p>
        <p class="card-text m-0">
          <small>{{ user.following }} Following</small>
        </p>

        <p class="card-text m-0">
          <small class="text-muted"
            >Last updated at {{ user.updated_at | date }}</small
          >
        </p>
      </div>
      <div class="col-12" *ngIf="tab == 2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of repos; let i = index">
              <td scope="row">{{ i + 1 }}.</td>
              <td>
                <h6 class="mb-1">{{ item.name }}</h6>
                <small class="text-muted">{{ item.description }}</small
                >&nbsp;
                <a
                  style="float: right;text-decoration: none;"
                  href="{{ item.html_url }}"
                  target="_blank"
                  class="badge bg-primary text-light rounded-pill text-right"
                  ><small>Open in Github</small></a
                >
                <p class="m-0" *ngIf="item.topics.length > 0">
                  <strong *ngFor="let topic of item.topics"
                    ><small class="badge bg-light text-dark rounded-pill">{{
                      topic
                    }}</small></strong
                  >&nbsp;&nbsp;
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12" *ngIf="tab == 3"></div>
    </div>
  </div>
</div>
